<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="pasted.sh">
    <meta name="keywords" content="pasted.sh, pasted, pastebin, paste, file, file-hosting, hosting, upload, share, text, code, snippet, secure, private, anonymous, code paste, xygt">
    <meta name="description" content="An anonymous, private, and secure temporary pastebin and file-hosting platform.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <title>pasted.sh - {{ title }}</title>
</head>
<body class="bg-[#343a40]">
    <nav class="w-full max-w-screen-lg mx-auto p-4 mb-8 flex items-center justify-between">
        <a href="{{ url_for('index') }}">
            <img class="bg-[#212529] px-8 py-2 rounded-lg" src="{{ url_for('static', filename='img/pastedlogo.png') }}" alt="pasted.sh logo" width="256">
        </a>
        <div class="flex items-center space-x-4"> <!-- Flex container for links -->
            {% if user.is_authenticated %}
            <p class="text-white my-2">
                Welcome, <a class="bg-slate-700 px-2 py-1 rounded" href="{{ url_for('profile') }}">{{ user.username }}</a>.
            </p>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-center bg-[#007bff] hover:bg-[#0056b3] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Login / Register
            </a>
            {% endif %}
            <a href="{{ url_for('paste') }}" class="text-center bg-[#007bff] hover:bg-[#0056b3] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Upload
            </a>
        </div>
    </nav>
      
    {% block content %}{% endblock %}
</body>
</html>

<!--

If youre seeing this, you've used the wrong curl command, you need to send a POST request as a form with curl -F
This is pasted.sh v1.0.0, a temporary pastebin and file-hosting platform.

-->
