{% extends "base.html" %}
{% block content %}
<div class="w-full max-w-screen-md mx-auto p-4">
    <img class="mx-auto bg-[#212529] px-8 m-4 rounded-lg" src="{{ url_for('static', filename='img/pastedlogo.png') }}" alt="pasted.sh logo" width="500">
    <h1 class="text-3xl py-2 text-white font-bold">Login</h1>
    <form method="post" action="" class="py-2" novalidate>
        {{ login_form.hidden_tag() }}
        <div class="mb-4">
            {{ login_form.username.label(class="block text-white text-md font-bold mb-2") }}
            {{ login_form.username(class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-6">
            {{ login_form.password.label(class="block text-white text-md font-bold mb-2") }}
            {{ login_form.password(class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ login_form.remember() }}
            {{ login_form.remember.label(class="text-white") }}
        </div>
        {{ login_form.submit(class="bg-white hover:bg-gray-300 font-bold py-2 px-4 mb-6 rounded focus:outline-none focus:shadow-outline") }}
    </form>
    <h1 class="text-3xl py-2 text-white font-bold">No account? Register</h1>
    <form method="post" action="" class="py-2" novalidate>
        {{ register_form.hidden_tag() }}
        <div class="mb-4">
            {{ register_form.username.label(class="block text-white text-md font-bold mb-2") }}
            {{ register_form.username(class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-6">
            {{ register_form.password.label(class="block text-white text-md font-bold mb-2") }}
            {{ register_form.password(class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ register_form.confirm.label(class="block text-white text-md font-bold mb-2") }}
            {{ register_form.confirm(class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ register_form.tnc() }}
            {{ register_form.tnc.label(class="text-white") }}
        </div>
        {{ register_form.submit(class="bg-white hover:bg-gray-300 font-bold py-2 px-4 mb-6 rounded focus:outline-none focus:shadow-outline") }}
    </form>
</div>
{% endblock %}