{% extends "base.html" %}

{% block content %}
    <div class="w-full max-w-screen-lg mx-auto px-4 mt-8">
        {% if user.is_authenticated %}
            <h1 class="text-2xl text-white">Hi, {{ user.name }}. What are you working on today?</h1>
        {% else %}
            <h1 class="text-2xl text-white">What are you working on today?</h1>
        {% endif %}
    </div>
    <div class="container mx-auto max-w-screen-lg p-4">
        <form action="/" method="POST" class="w-full max-w-screen-lg">
            <label for="paste" class="text-white">Filename (optional) </label> <input type="text" name="name" id="name" class="border border-gray-300 rounded-md my-1 bg-gray-100 text-gray-800 font-mono text-base" placeholder="filename.txt">
            <label for="paste" class="text-white">Retention (optional) </label> <input type="text" name="retention" id="retention" class="border border-gray-300 rounded-md my-1 bg-gray-100 text-gray-800 font-mono text-base" placeholder="315600">
            <textarea style="overflow: auto" class="w-full h-[48vh] p-4 border border-gray-300 rounded-lg bg-gray-100 text-gray-800 font-mono text-base resize-none overflow-x-auto whitespace-pre-wrap" name="file" id="file" type="text" placeholder="Paste your text here."></textarea>
            <button type="submit" class="w-full max-w-[192px] text-center mx-auto mt-8 bg-[#007bff] hover:bg-[#0056b3] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Upload</button>
        </form>
    </div>
{% endblock %} 